In [2]:
import numpy as np
import pandas as pd
from keras.utils import np_utils
from keras.layers import Dense, Activation, Dropout
from keras.models import Sequential

Using TensorFlow backend.

In [3]:
from sklearn.datasets import fetch_openml
mnist = fetch_openml('mnist_784')

# These are the images# These 
# There are 70,000 images (28 by 28 images for a dimensionality of 784)
print(mnist.data.shape)

# These are the labels
print(mnist.target.shape)

(70000, 784)
(70000,)

In [4]:
ds = pd.DataFrame(mnist.data)
ds[784] = mnist.target
ds.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9

In [5]:
from sklearn.utils import shuffle
ds = shuffle(ds)
ds.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
69991,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8
7976,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
69694,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8
55783,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9
60857,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5

In [6]:
data = ds.values[:]
print(data.shape)

(70000, 785)

In [7]:
X = data[:,:-1]/255.0
y = data[:,-1]
print(X.shape)
print(y.shape)

print(np.unique(y))
nb_classes = len(np.unique(mnist.target))

(70000, 784)
(70000,)
['0' '1' '2' '3' '4' '5' '6' '7' '8' '9']

In [8]:
Y = np_utils.to_categorical(y)
for ix in range(10):
    print(y[ix], Y[ix])
print(Y.shape)

8 [0. 0. 0. 0. 0. 0. 0. 0. 1. 0.]
3 [0. 0. 0. 1. 0. 0. 0. 0. 0. 0.]
8 [0. 0. 0. 0. 0. 0. 0. 0. 1. 0.]
9 [0. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
5 [0. 0. 0. 0. 0. 1. 0. 0. 0. 0.]
5 [0. 0. 0. 0. 0. 1. 0. 0. 0. 0.]
0 [1. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
8 [0. 0. 0. 0. 0. 0. 0. 0. 1. 0.]
4 [0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]
9 [0. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
(70000, 10)

In [9]:
split = int(0.8*data.shape[0])
X_train = X[:split]
X_test = X[split:]

y_train = Y[:split]
y_test = Y[split:]

print(X_train.shape, y_train.shape)

(56000, 784) (56000, 10)

In [10]:
model = Sequential()

model.add(Dense(512, input_shape=(784,)))
model.add(Activation('relu'))
model.add(Dropout(0.5))

model.add(Dense(nb_classes))
model.add(Activation('softmax'))

model.summary()

WARNING: Logging before flag parsing goes to stderr.
W0703 01:15:50.941560 140085382510400 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

W0703 01:15:50.958222 140085382510400 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

W0703 01:15:50.961719 140085382510400 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

W0703 01:15:50.980570 140085382510400 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:133: The name tf.placeholder_with_default is deprecated. Please use tf.compat.v1.placeholder_with_default instead.

W0703 01:15:50.994984 140085382510400 deprecation.py:506] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3445: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 512)               401920
_________________________________________________________________
activation_1 (Activation)    (None, 512)               0
_________________________________________________________________
dropout_1 (Dropout)          (None, 512)               0
_________________________________________________________________
dense_2 (Dense)              (None, 10)                5130
_________________________________________________________________
activation_2 (Activation)    (None, 10)                0
=================================================================
Total params: 407,050
Trainable params: 407,050
Non-trainable params: 0
_________________________________________________________________

In [13]:
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [14]:
model.fit(X_train, y_train, epochs=20, batch_size=50, validation_data=(X_test, y_test), verbose=2)

W0703 01:18:11.406726 140085382510400 deprecation.py:323] From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/math_grad.py:1250: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

Train on 56000 samples, validate on 14000 samples
Epoch 1/20
 - 29s - loss: 0.2942 - acc: 0.9125 - val_loss: 0.1392 - val_acc: 0.9589
Epoch 2/20
 - 29s - loss: 0.1439 - acc: 0.9566 - val_loss: 0.0988 - val_acc: 0.9694
Epoch 3/20
 - 29s - loss: 0.1098 - acc: 0.9659 - val_loss: 0.0789 - val_acc: 0.9755
Epoch 4/20
 - 29s - loss: 0.0911 - acc: 0.9719 - val_loss: 0.0725 - val_acc: 0.9782
Epoch 5/20
 - 29s - loss: 0.0795 - acc: 0.9748 - val_loss: 0.0682 - val_acc: 0.9796
Epoch 6/20
 - 28s - loss: 0.0727 - acc: 0.9763 - val_loss: 0.0668 - val_acc: 0.9804
Epoch 7/20
 - 29s - loss: 0.0642 - acc: 0.9794 - val_loss: 0.0626 - val_acc: 0.9821
Epoch 8/20
 - 31s - loss: 0.0561 - acc: 0.9811 - val_loss: 0.0628 - val_acc: 0.9815
Epoch 9/20
 - 32s - loss: 0.0552 - acc: 0.9819 - val_loss: 0.0646 - val_acc: 0.9807
Epoch 10/20
 - 31s - loss: 0.0501 - acc: 0.9834 - val_loss: 0.0622 - val_acc: 0.9820
Epoch 11/20
 - 30s - loss: 0.0479 - acc: 0.9843 - val_loss: 0.0581 - val_acc: 0.9836
Epoch 12/20
 - 30s - loss: 0.0436 - acc: 0.9859 - val_loss: 0.0622 - val_acc: 0.9821
Epoch 13/20
 - 32s - loss: 0.0412 - acc: 0.9866 - val_loss: 0.0647 - val_acc: 0.9818
Epoch 14/20
 - 33s - loss: 0.0405 - acc: 0.9867 - val_loss: 0.0620 - val_acc: 0.9829
Epoch 15/20
 - 33s - loss: 0.0363 - acc: 0.9879 - val_loss: 0.0605 - val_acc: 0.9825
Epoch 16/20
 - 31s - loss: 0.0357 - acc: 0.9883 - val_loss: 0.0672 - val_acc: 0.9822
Epoch 17/20
 - 30s - loss: 0.0358 - acc: 0.9884 - val_loss: 0.0645 - val_acc: 0.9834
Epoch 18/20
 - 31s - loss: 0.0326 - acc: 0.9893 - val_loss: 0.0694 - val_acc: 0.9839
Epoch 19/20
 - 30s - loss: 0.0329 - acc: 0.9884 - val_loss: 0.0716 - val_acc: 0.9821
Epoch 20/20
 - 30s - loss: 0.0343 - acc: 0.9882 - val_loss: 0.0713 - val_acc: 0.9836

In [15]:
# for layer in model.layers:
#     print(layer)
#     if len(layer.get_weights())>0:
#         print(layer.get_weights()[0].shape)
#         print(layer.get_weights()[1].shape)
#     print(layer.get_config()['name'])
#     print("-----------------")

<keras.layers.core.Dense object at 0x7f67d47177b8>
(784, 512)
(512,)
dense_1
-----------------
<keras.layers.core.Activation object at 0x7f67d4717b00>
activation_1
-----------------
<keras.layers.core.Dropout object at 0x7f67d4711048>
dropout_1
-----------------
<keras.layers.core.Dense object at 0x7f67d4711780>
(512, 10)
(10,)
dense_2
-----------------
<keras.layers.core.Activation object at 0x7f67d4711198>
activation_2
-----------------